@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
}

.user-image-no-select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
